/* App.css */
*,*::before *::after{
  box-sizing: border-box;
}

.navbar {
  padding: 10px 20px 20px 20px;
  position: absolute;
  justify-content: space-between;
  top: 10px;
  right: 10px;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
  justify-content: space-between;
  padding: 10px 50px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.navbar ul li a:hover {
  background-color: #00ca36;
  color: #282c34;
  transition: background-color 0.5s ease
}
/*quiz*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif; 
  padding: 50px; /* Optional: Add padding for spacing */
}
.title{
  padding: 50px;
  font-size: 30px;
}
.container h1 {
  margin-bottom: 20px; /* Add space below headings */
}

.container ul {
  margin-bottom: 20px; /* Add space below options list */
}

.container button {
  margin-top: 20px; /* Add space above buttons */
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px; /* Adjust spacing as needed */
}

/* Styling for submit button */
.submit {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: darkred;
}

/* Styling for next button */
.nextbtn {
  background-color: #00cc1f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextbtn:hover {
  background-color: #006d21;
}

/* Styling for previous button */
.pre {
  background-color: antiquewhite;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pre:hover {
  background-color: #e3dac9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----video-comprehension-----*/

.vid{
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.quiz-container {
  width: 100%;
  max-width: 800px;
  background-color: #f0f0f0;
  padding: 20px;
}

.options-list {
  list-style-type: none;
  padding: 0;
}

.options-list li {
  margin-bottom: 10px;
}

.options-list label {
  display: block;
}

.next-btn {
  background-color: #00cc1f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: #006d21 0.3s ease;
}
.next-btn:hover{
  background-color: #006d21;
}
.prev-btn{
  background-color: antiquewhite;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-btn:hover{
  background-color: #e3dac9;
}

.submit-btn{
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: darkred;
}

.video-container {
  width: 100%;
  max-width: 800px; 
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.video-container iframe {
  width: 100%; 
  height: 400px; 
}

